/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-heading-color: #000028;
  --link-color: #F1B2CE;
  --link-shadow-color: #ff0070;
  --main-font-family: 'IBM Plex mono', monospace;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --header-logo-color: #db00ff;
  --title-decor-color: #ff0070;
  --section__title-color: #ff0070;
  --block__title-color: #ff0070;
  --subtitle-color: #ff0070;
  --shadow-color: #FF0070;
  --main-text-size: 18px;
  --color-outline: rgba(255, 0, 112, 0.4);
  --main-text-color: #f1b2ce;
  --main-line-height: 1.3;
  --link-font-family: "IBM Plex Mono";
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-gap: 10px;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --logo-color: #db00ff;
}
